    <!-- Goals Section -->
    <section id="Goals" class="content-section text-center">
        <div class="Goals-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>My Goals</h2>
                    <p>My current goals are:.
                        <ul>
                            <li>* Acquire an internship of any relation to concentration in Computer Science. </li>
                            <li>* Graduate from my 4 year college. </li>
                            <li>*Establish numerous amount of projects</li>
                    </p>
                </div>
            </div>
        </div>
    </section>